<table style="
        width: 100%;
        background: lightcoral;
">
    <tr>
        <td style="font-size: 20px; text-align: left;" >
            <b>LOGO</b>
        </td>
        <td style="text-align: right;">
            <img src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png" 
                width="20" alt="icon">
        </td>
    </tr>
</table>